body{
    background-color: #d1c9c6;
    margin: 0;
    margin-top:80px;
    padding:0;
} 

     {
      margin: 0px;
      padding: 0px;
    }

    .AMheader {
      display: flex;
      align-items: center;
      padding: 10px;
      color: white;
    }
    .AMlogo {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }

    .AMcompany-name {
      font-size: 20px;
      font-weight: bold;
      color: rgb(0, 0, 0);
	  font-family: Arial;
    }

    .AMparallax-1 {
		width: 100%;
        height: 600px;
        background: url(images/piano.png);
        background-size: 100% 100%;
        background-attachment: fixed;
        font-size: 30px;
        font-family: Arial;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
		border: 5px solid rgb(95, 9, 60);
		border-color: #a44269;
    }

    .AMparallax-1 h2 {
		margin: 0;
        padding: 10px;
        color: rgb(0, 0, 0);
        text-align: center;
    }
	.AMparallax-1 h4 {
		margin: 0;
        padding: 10px;
        color: rgb(94, 91, 91);
        text-align: center;
        font-family: Arial;
	}

    .AMparallax-2 {
      width: 100%;
      height: 600px;
      background: href img('https://static.vecteezy.com/system/resources/thumbnails/000/696/278/small/textured-black-background.jpg');
      background-size: 100% 100%;
      background-attachment: fixed;
    }

    .AMparallax-2 h2 {
		margin: auto;
        width: 250px;
        height: 37px;
        padding: 10px;
        background-color: white;
        color: rgb(226, 208, 214);
        text-align: center;
        font-size: 24px; 
        font-family: Arial; 
    }
	
    .AMpara-1 {
      padding: 50px;
      background-color: rgb(0, 0, 0);
      color: white;
      font-size: 17px;
    }

    .AMpara-2 {
      text-align: center;
      padding: 25px;
      font-size: 17px;
      font-family: Arial;
      background-color: black;
      color: white;
    }

    .AMbutton-container {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .AMbutton {
      display: inline-block;
      margin-right: 10px;
      padding: 10px 20px;
      background-color: transparent;
      color: black;
      text-decoration: none;
      border-radius: 5px;
      border: 2px solid black;
	  font-family: Arial;
    }

    .AMbutton-top {
      border-radius: 20px;
      border: 2px solid black;
      padding: 10px 20px;
      background-color: #a44269;
      color: white;
	  text-decoration: none;  
	  font-family: Arial;
    }

    .AMbutton-signup {
		margin: auto;
		position: absolute;
        width: 300px;
        height: 50px;
        padding: 10px;
        background-color: rgb(241, 236, 239);
        color: rgb(109, 7, 65);
        text-align: center;
        border-radius: 10px;
        left: 50%;
        top: 150%;
        transform: translate(-50%, -50%);
		font-size: 35px;
		border: 5px solid rgb(0, 0, 0);
		text-decoration: none;  
    }
header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f56476;
    display: flex;
    width: 100%;
    align-items: center;
    font-weight: bold;

}

header img{
    width: 100px;
    height: auto;
    border-radius: 3cap;
    margin-left: 10px;
}

header h1{
    margin-left: 10px;
    color: #5e4352;
    font-family: 'Nunito', sans-serif;
}

header ul{
    vertical-align:bottom;
    width: max-content;
    height: 100%;
    list-style: none;
    display: flex;
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
}

header ul p{
    vertical-align: middle;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    height: 100%;
    color: #5e4352;
    padding: 10px 20px;
    margin:0;
    background-color: #f56476;
    font-family: 'Nunito', sans-serif;
}

header ul p:hover{
    background-color: #e0426e;
    text-decoration: underline;
} */

.jamieContainer{
    /* used yimings code to make it look more cohesive in the end, but changed the height*/
    width: 100%; /* 100% of the viewport width */
    height: auto; /* Height of the rectangular box */
    /* max-height: 200px; */
    /* min-height: 70px; */
    background-color: #d1c9c6; /* Background color of the rectangular box */
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 30px;
    padding-bottom: 40px;
    flex-grow: 1;
    margin: 0 auto; /* Center the container horizontally */
}

.jamieBoxes {
    width: 50%;
    max-width: 500px; /* Optional: Set a maximum width for the boxes */
    background-color: #be3e82;
    margin: 30px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jamieBoxes img{
    width: 70%;
    height: auto;
    border-radius: 3cap;
    border-style: outset;
    border-color: #f56476;
    margin: 10px;   
}


.jamieBoxes ul{
    width: 70%;
    height: auto;
    border-radius: 3cap;
    margin: 10px;    
    text-align: center;
}

.jamieBoxes ul li{
    margin-left: 1em;
    color: #d1c9c6;
    text-align: left;
    font-family: 'Nunito', sans-serif;
   /* background-color: aqua;*/
}

.jamieBoxes h1{
    font-family: 'Nunito', sans-serif;
    color:#d1c9c6
}

.jamieBoxes h2{
    font-family: 'Nunito', sans-serif;
    color:#d1c9c6
}
